@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --color-neutral-0: #0b0bbb;
    --color-neutral-10: #1919e6;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

main{
    height: 120vh;
}

body{
    z-index: 0;
    height: 120vh;
    width: 100vw;
    background-color: white;
}

nav.menu-lateral{
    width: 5vw;
    height: 120vh;
    background-color: #1919e6;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #90ee90;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}

nav.menu-lateral.expandir{
    width: 14vw;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
    margin-bottom: 10px;
}

.btn-expandir > i{
    color: aliceblue;
    font-size: 30px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .7s;
    border-radius: 10px 0 0 10px;
}

ul li.ativo{
    background-color: #90ee90;
}

ul li.item-menu:hover{
    background-color: #90ee90;
}

ul li.item-menu a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
    font-weight: 500;
}

/*Conteiner central*/

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    height: 550px;
    background-color: #f8f8ff;
    position: absolute;
    top: 50vh;
    margin-top: -250px;
    width: calc(95vw - 600px);
    margin-left: calc(5vw + 300px);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: .5s;
}

.conteiner2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-wrap: wrap;
    height: 540px;
    background-color: #f8f8ff;
    position: absolute;
    top: 50vh;
    margin-top: -250px;
    width: calc(95vw - 200px);
    margin-left: calc(5vw + 100px);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: .5s;
}

.conteiner.expandir{
    margin-left: calc((19vw + 600px)/2);
    transition: .5s;
}

.conteiner2.expandir{
    width: calc(86vw - 200px);
    margin-left: calc(14vw + 100px);
    transition: .5s;
}

.conteiner img{
    width: 50%;
    height: 550px;
    border-radius: 0 10px 10px 0; 
}

.add-remover {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 20px 40px;
}

.add-remover button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.add-remover .add:hover {
    background: #00fa9a;
}

.add-remover .remove:hover {
    background: #ec5353;
}

/*header*/ 

.headerr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 95vw;
    margin-left: 5vw;
    background-color: #f8f8ff;
    text-align: initial;
    padding-left: 20px;
    padding-right: 20px;
    transition: .5s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}   

.headerr.expandir{
    width: 86vw;
    margin-left: 14%;
}

.headerr span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.foto-perfil{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* Botões animados */

.btn{
    width: 300px;
    height: 50px;
    border: none;
    padding: 10px;
    transition: all .5s;
    font-weight: bold;
    font-size: 14px;
    background-color: transparent;
    color: #1919e6;
    border: 1px solid #1919e6;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin: 15px 20px 15px 20px;
}

.btn span{
    display: inline-block;
    position: relative;
    transition: all .5s;
    z-index: 2;
}

.btn::before{
    content: "";
    width: 100%;
    height: 0%;
    background-color: #1919e6;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 1;
    transition: all .8s;
    border-radius: 50% 50% 0 0;
}

.btn:hover{
    cursor: pointer;
    color: #fff;
}

.btn:hover::before{
    height: 180%;
}

/*footer*/

footer{
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    width: 100vw;
    color: var(--color-neutral-40);
}

#footer_contacts{
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
    margin-right: 30px;
    width: 310px;
}

.logo {
    display: flex;
    margin-bottom: 0.75rem;
    gap: 0.5px;
    height: 50px;
}

#footer_contacts img {
    width: 70px;
    height: 90px;
    position: relative;
    left: -7px;
    right: 20px;
    bottom: 25px;
}  

#footer_contacts h3 {
    position: relative;
    bottom: 70px;
}

#footer_contacts p {
    position: relative;
    bottom: 30px;
}

.footer_link {
    text-decoration: none;
}

#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem 3.5rem;
    padding-left: 6%;
    padding-right: 6%;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    width: 310px;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all .4s;
}

#footer_social_media .footer_link i {
    font-size: 1.25rem;
}

#footer_social_media .footer_link:hover{
    opacity: 0.8;
}

#instagram{
    background-image: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer_link {
    color: var(--color-neutral-30);
    transition: all .4s;
}

.footer-list .footer_link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding:  0 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0 4px 4px 4px;
    cursor: pointer;
    transition: all .4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/* agendar paciente */

.conteiner-agend{
    background-color: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
    width: 1200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    left: 50vw;
    margin-left: -600px;
    top: 50px;
    font-family: 'Poppins', sans-serif;

    opacity: 1;
    z-index: 1;
    transition: all .8s;
}

.btn-fechar {
    width: 50px;
    height: 50px;
    border-radius: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-fechar:hover {
    transition: .5s;
    background-color: #ec5353;

}

.btn-fechar i {
    font-size: 50px;
  }
  
.flex-conteiner {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: calc(160px/3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
}

.dados-paciente {
    width: 520px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 5px;
}

.dados-consulta {
    display: flex;
    flex-direction: column;
    width: 520px;
    gap: 5px;
}

.dados-consulta h3, .dados-paciente h3 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
}


.select-area{
    height:  84.9937px;
    width: 500px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.select-area select {
    border-radius: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.content header {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    margin-bottom: 45px;
    margin-top: 10px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    height: 350px;
    padding: 0 20px 0 20px;
}

.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 40px;
    color: #40414a;
}

#CRM{
    width: 540px;
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
    color: transparent;
    transition: color 0.3s ease;
}

input[type="date"]:focus::-webkit-datetime-edit-text,
input[type="date"]:focus::-webkit-datetime-edit-month-field,
input[type="date"]:focus::-webkit-datetime-edit-day-field,
input[type="date"]:focus::-webkit-datetime-edit-year-field,
input[type="date"]:valid::-webkit-datetime-edit-text,
input[type="date"]:valid::-webkit-datetime-edit-month-field,
input[type="date"]:valid::-webkit-datetime-edit-day-field,
input[type="date"]:valid::-webkit-datetime-edit-year-field {
    color: black;
}
	
.input-field input:focus ~ label
   {
    top: -10px;
    font-size: 13px;
  }

  .input-field input:valid ~ label
  {
   top: -10px;
   font-size: 13px;
   color: #5d5076;
 }

 .input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #743ae1;
 }

 .submit{
    border: none;
    outline: none;
    height: 45px;
    width: 540px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
    margin: 0 20px 0 20px;
 }
 .submit:hover{
    background: #4070F4;
    color: #fff;
 }
 .signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}
span a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}
span a:hover{
    text-decoration: underline;
    color: #000;
}

.conteiner-agend.fechado { 
    top: -600px;
    opacity: 0;
    z-index: 1;
}

.conteiner-agend.apagado {
    display: none;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}


